<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
    />
    <title>Hello, World!</title>
  </head>
  <body>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    <h1>Hello, World!</h1>
    <p>To jest przykładowa strona HTML z wiadomością taką: "Hello, World!".</p>
    <img
      src="../static/image/image.png"
      alt="Italian Trulli"
      th:src="@{/image/image.png}"
    />
  </body>
</html>
